<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
	<connectionStrings>
		<add name="MySQL"
             connectionString="Server=localhost; Port=3306; Database=veterinarydb; Uid=root; Pwd='TBC';"
             providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
</configuration>
